@media (max-width:799px) {
    /* GENERAL SECTION */
    .section-p1 {
        padding: 40px 40px;
    }
    /* NAVBAR SECTION */
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{ 
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    /* HOME SECTION */
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
   /* FEATURE SECTION */
    #feature{
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    /* BANNER SECTION */
    #banner {
        height: 20vh;
    }
    /* AMALL BANNER SECTION */
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        padding: 30px;
    }
    /* TOO SMALL SECTION */
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }
    /* NEWSLETTER SECTION */
    #newsletter .form{
        width: 70%;
    }
    /* FOOTER SECTION this is  my style for perfect navbar */
    footer .col{
        align-items: space-between;
        padding: 0 30px 0;
    }
    footer .install .row{
        flex-direction: row;
        flex-wrap: nowrap;
        display: flex;
    }
    footer .install .row img{
        max-width: 50%;
        margin: 10px 5px 10px;
    }
    /* CONTACT PAGE */
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    }
    #contact-details {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:477px) {
    /* GENERAL */
    .section-p1 {
        padding: 20px;
    }
    /* HEADER  */
    #header {
        padding: 10px 30px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    /* FEATURE */
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    /* PRODUCT1 */
    #product1 .pro {
        width: 100%;
    }
    /* BANNER */
    #banner {
        height: 40vh;
    }
    /* SMALL BANNER */
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box-2 {
        margin-top: 20px;
    }
    /* BANNER 3 */
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    /* NEWSLETTER */
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    /* FOOTER */
    footer .copyright{
        text-align: flex-start;
    }
    /* sproduct section (single product) */
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details {
        width: 100%;
    }
    /* BLOGE PAGE */
    #blog {
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
        padding-bottom: 90px;
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details {
        width: 100%;
    }

    /* ABOUT PAGE */
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
    }
    #about-app .video {
        width: 100%;
    }
    /* CONTACT PAGE */
    #contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
    }
    
    /* CART PAGE */
    #cart-add {
        flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal {
        width: 100%;
        padding: 20px;
    }
}